{% extends 'main/base.html' %}

{% block content %}
                <h3 class="content-title">Лента рецептов</h3>

                {% for recipe in recipes %}

                <article class="article">

                   <h4 class="article-title">
                        <a href="{% url 'recipe_detail' recipe.id %}">{{recipe.title}}</a>
                   </h4>
                   <time class="article-date" datetime="{{recipe.data}}">{{recipe.data}}</time>
                       <div class="article-content">
                        <div class="image-box">
                               <img class="main-image" src="{{recipe.image.url}}" alt="buter">

                               <div class="side-image-box">
                                   <img class="extra-image" src="{{recipe.image.url}}" alt="buter">
                                   <img class="extra-image" src="{{recipe.image.url}}" alt="buter">
                               </div>
                            </div>

                           <p>{{recipe.text}}</p>
                      </div>
                   <a class="read-more" href="{% url 'recipe_detail' recipe.id %}">Читать полностью</a>
                </article>
                {% endfor %}

           <div class="page-slider">
            <ul class="danuas">

                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="arrow-left"> <img class="arrow-left-image" src="static/main/img/fork.png" alt=""> </a></li>
                {% endif %}

                {% for p in page_obj.paginator.page_range %}
                {% if page_obj.number == p %}
                <li> <a href="?page={{ p }}" class="page-button-active" >{{ p }}</a></li>
                {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                  <li> <a href="?page={{ p }}">{{ p }}</a></li>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="arrow-right"> <img class="arrow-right-image" src="static/main/img/spoon.png" alt=""> </a></li>
                {% endif %}

            </ul>
        </div>

        {% endblock %}


































